<h1>Home</h1>

<form action='/add' method='post'>
  <label for='name'>Nome:</label>
  <input type='text' name='name' placeholder='Escreva seu nome' />
  <label for='email'>Email:</label>
  <input type='email' name='email' placeholder='Escreva seu email' />
  <label for='fone'>Nome</label>
  <input type='text' name='fone' placeholder='Escreva seu número' />
  <input type='submit' value='Cadastrar' />
</form>